<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.infinitt.mapper.BoardMapper">
  	<insert id="write">
  		insert into board(title,content,writer)
		value(#{title},#{content},#{writer})
  	</insert>
  	
  	<insert id="insertSelectKey" >
  		<selectKey keyProperty="bno" order="BEFORE" resultType="int">
  			select ifnull (MAX(bno), 0 )+1 from board
  		</selectKey>
  		insert into board(bno,title,content,writer)
		value(#{bno},#{title},#{content},#{writer})
  	</insert>

  	<select id="essay" resultType="org.infinitt.domain.BoardDTO">
  		select*from(
				select @rownum:=@rownum+1 as rownum, b.*
				from (select @rownum:=0) as tmp, board as b order by bno desc
		) as boardList
		<![CDATA[ 
			where rownum > (#{pageNum}-1)*#{amount} 
			and rownum <= #{pageNum}*#{amount} 
		]]> 
  	</select>
 
  	<select id="detail" resultType="org.infinitt.domain.BoardDTO">
  		select*from board where bno=#{bno}
  	</select>
  	
  	<update id="cntupdate">
  		update board
		set cnt = cnt + 1
		where bno=#{bno}
  	</update>
  	
  	<update id="modify">
  		update board
		set title=#{title}, 
			content=#{content}, 
			regdate=now()
		where bno=#{bno}
  	</update>
  	
  	<delete id="remove">
  		delete from board where bno=#{bno}
  	</delete>
  	
  	<select id="getTotalCount" resultType="int">
  		select count(*) from board
  	</select>
  	
  	<insert id="replyPost">
  		insert into reply (reply, bno) values(#{reply}, #{bno})
  	</insert>
  	
  	<select id="replyGet" resultType="org.infinitt.domain.ReplyDTO">
  		select * from reply where bno = #{bno}
  	</select>
  	
  	<update id="modifyReply">
  		update reply set reply = #{reply} where rno = #{rno}
  	</update>
  	
  	<delete id="removeReply">
  		delete from reply where rno=#{rno}
  	</delete>
</mapper>