<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.infinitt.mapper.ResumeMapper">
	<insert id="resume">
		<selectKey keyProperty="rbno" order="BEFORE" resultType="int">
  			select ifnull (MAX(rbno), 0 )+1 from resume
  		</selectKey>
  		insert into resume(title,name,birth,gender,email,tel,career,address,
  		school,pay,region,school_type,school_name,major,grades,
  		license_type,awards_name,agency,pass,intit,intxt, 
  		job, school_year_start, school_year_end, acquisition_date_start, acquisition_date_end)
		values(#{title},#{name},#{birth},#{gender},#{email},#{tel},#{career},#{address},
		#{school},#{pay},#{region},#{school_type},#{school_name},#{major},#{grades},
		#{license_type},#{awards_name},#{agency},#{pass},#{intit},#{intxt}, 
		#{job}, #{school_year_start}, #{school_year_end}, #{acquisition_date_start}, #{acquisition_date_end})
  	</insert>
  	
  	<insert id="insertSelectKey" >
  		<selectKey keyProperty="rbno" order="BEFORE" resultType="int">
  			select ifnull (MAX(rbno), 0 )+1 from resume
  		</selectKey>
  		insert into resume(rbno,title,name)
		value(#{rbno},#{title},#{name})
  	</insert>

  	<select id="resumelist" resultType="org.infinitt.domain.ResumeDTO">
  		select*from(
				select @rownum:=@rownum+1 as rownum, b.*
				from (select @rownum:=0) as tmp, resume as b
		  	 <choose>
		  	 	<when test="search == null">
			      where 1=1 order by rbno desc
			    </when>
			    <when test="search == 'T'.toString()">
			      where title like concat('%',#{keyword},'%') order by rbno desc
			    </when>
			   	<when test="search == 'N'.toString()">
			      where name like concat('%',#{keyword},'%') order by rbno desc
			    </when>
			    <when test="search == 'J'.toString()">
			      where job like concat('%',#{keyword},'%') order by rbno desc
			    </when>
			    <otherwise>
			      where regdate like concat('%',#{keyword},'%') order by rbno desc
			    </otherwise>
			</choose>
		) as resumeList 
		<![CDATA[ 
			where rownum > (#{pageNum}-1)*#{amount} 
			and rownum <= #{pageNum}*#{amount} 
		]]> 
  	</select>
  	
  	<select id="resume_m" resultType="org.infinitt.domain.ResumeDTO">
  		select*from resume where rbno=#{rbno}
  	</select>
  	
  	<select id="resume_license" resultType="org.infinitt.domain.ResumeDTO">
		{
         call license(#{rbno})
      }
  	</select> 	
  	
  	<select id="getTotalCount" resultType="int">
  		select count(*) from resume
  		<choose>
	  	 	<when test="search == null">
		      where 1=1 order by rbno desc
		    </when>
		    <when test="search == 'T'.toString()">
		      where title like concat('%',#{keyword},'%') order by rbno desc
		    </when>
		   	<when test="search == 'N'.toString()">
		      where name like concat('%',#{keyword},'%') order by rbno desc
		    </when>
		    <when test="search == 'J'.toString()">
		      where job like concat('%',#{keyword},'%') order by rbno desc
		    </when>
		    <otherwise>
		      where regdate like concat('%',#{keyword},'%') order by rbno desc
		    </otherwise>
		</choose>
  	</select>
</mapper>