@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

html{
	background-color : rgba(38, 38, 38, 0.7);
	overflow: hidden;

}

body{
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #333;
}

ul, li{
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}

img{
    vertical-align: top;
    border: 0;
}

.wrap{
	width: 1400px;
    margin: 0 auto;
    
	height : 100%;
	margin-top : 70px;
	
	/* background-color : rgba(239, 239, 239, 0.5); */
	
	position : relative;
	
	
}

.prevPage{
	
	width : 50px;
	height : 50px;

	position : absolute;
	top : 35px;
	left : 30px;

	
}

.prevPage a{
	
	width: 100%;
	height : 100%;

	color : white;
	
}


.text-center{
    margin-bottom: 2rem;
    text-align : center;
    font-weight : 400;
 
}

#essayTitle{
	
	font-size : 50px;
	
	color : #fff;
    position : absolute;
    top:120px;
    left : 80px;
	
}



.img{
	width: 1200px;
	text-align : center;
	margin-bottom: 60px;
}

.img img{
	width: 100%;
	margin: 0  auto;
}



.container{
    display: flex;

    width : 1300px;
    margin : 0 auto;

    border : 1px solid #888;

}



.cardNews{
    width: 800px;
    height: 88vh;
	position : relative;
}



.prevPage img{

	width : 100%;
	height : 100%;


	
}


.card{
	width : 100%;
	height : 100%;
	
	overflow : hidden;

	
}

.card li{
	width : 100%;
	height : 100%;
	
	background-color : #fff;

}

.card li .img{
	width : 100%;
	height : 100%;
	
	padding : 20px 20px;
	box-sizing : border-box;
	
	
}

.next, .prev{
    visibility: hidden;
	cursor: pointer;
    width: 80px;
    height: 120px;


}

.next{
	
	position: absolute;
	top: 33vh;
	right: 5px;
	
}

.prev{
	position: absolute;
	top: 33vh;
	left: 5px;
	
}



.next img, .prev img{
    width: 100%;
    height: 100%;

}


/* .slick{
	
	width : 100%;
	height : 100%;
	
	overflow : hidden;

	
}

.slick-list, .slick-track, .slick-slide{
	
	width : 100%;
	height : 100%;
	
}

.slick-slide img{
	width : 100%;
	height : 100%;
	
	padding : 20px 20px;
	box-sizing : border-box;
}


.slick-next, .slick-prev{
    visibility: hidden;

    width: 100px;
    height: 140px;
    
    

}

.slick-next{
	
	position: absolute;
	top : 280px;
	right: 20px;
	
}

.slick-prev{
	position: absolute;
	top : 280px;
	left: 20px;
	
}



.slick-next img, .slick-prev img{
    width: 100%;
    height: 100%;

} */




.chat{
    width: 500px;
    /* height: 700px; */
    height: auto;

    border-left :1px solid #888; 
}

.chatH{
    width: 100%;
    height: 10%;
    
    display: flex;
    justify-content: right;

    padding-right: 1vw;
    box-sizing: border-box;

    border-bottom :1px solid #888; 
    background-color: rgb(239, 239, 239);
}

@media(min-width : 1700px){
	.chatH{
		padding: 1vh 20px 0 0;
	}
}


.menu{
    width: 60px;
    height: 60px;
    /* background-color: rgb(255, 255, 255); */

}

.menu img{
    width: 100%;
    height: 100%;

}

.chatC{
    width: 100%;
    height: 80%;
    
    padding : 10px 0;
    box-sizing : border-box;
    
    overflow-y : scroll;
    overflow-x : hidden;
    
    /* background-color : rgba(206, 226, 245); */
    background-color : #fff;


}

.chatC::-webkit-scrollbar {
    width: 10px;

  }

.chatC::-webkit-scrollbar-thumb {

    border-radius : 10px;
    background-color: #ffca2c;
}
.chatC::-webkit-scrollbar-track {
    background-color: #fff;
}

.replyGet{
	width: 100%;
    height: 35px;
    
    border : none;
    border-bottom : 1px solid #555;
    padding : 5px 0 5px 25px;
    
    font-size : 18px;
    line-height : 20px;
}

.replyGet:hover{

	/* background-color : rgba( 255, 255, 0, 0.4 ); */
	background-color : rgb(239, 239, 239);

}

.replyGet:nth-child(2n){
	/* margin-left : 260px; */
	/* background-color : #ffca2c; */

}

.chatForm{
	
	width: 100%;
    height: 10%;

    background-color: rgb(239, 239, 239);
	
}

.chatF{
    display: flex;
    justify-content: space-around;

    /* padding: 10px 25px 0 25px; */
    box-sizing: border-box;

	border-top :1px solid #888;
	padding-top: 1.3vh;
	
}

.F_input{
    width: 360px;
    height: 40px;
    
    border-radius : 10px;
    border :1px solid #888;
    margin-top : 5px;

}

.F_btn{
    width: 50px;
    height: 50px;

    /* background-color: #555; */
    
    border : 1px solid #ffca2c;
    border-radius : 10px;
    
    padding : 4px 3px 0 0;
    box-sizing : border-box;

}

.F_btn img{
    width: 80%;

}

.F_btn:hover{
    width: 50px;
    height: 50px;

    background-color: #ffca2c;
    
    border : 1px solid #ffca2c;
    border-radius : 10px;
    
    padding : 4px 3px 0 0;
    box-sizing : border-box;

}



/*modal ì°½========================  */

#modal.modal-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.25);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            
            

 }
 
#modal .modal-window {
     /* background: rgba( 255, 255, 0, 0.4 ); */
     background: rgba( 255, 202, 44, 0.8 );
     
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 13.5px );
     -webkit-backdrop-filter: blur( 13.5px );
     border-radius: 10px;
     border: 1px solid rgba( 255, 255, 255, 0.18 );
     width: 200px;
     height: 300px;
     position: relative;
     top: -100px;
     padding: 10px;
    

}

#modal .title {
    padding-left: 10px;
    display: inline;
    text-shadow: 1px 1px 2px gray;
    color: #fff;
            
}
#modal .title h2 {
   display: inline;
}
#modal .close-area {
   display: inline;
   float: right;
   padding-right: 10px;
   cursor: pointer;
   text-shadow: 1px 1px 2px gray;
   color: white;
}
        
#modal .content {
   margin-top: 20px;
   padding: 0px 10px;
   text-shadow: 1px 1px 2px gray;
   color: white;
}


#modal a{
   color: white;
}

.content li{
   height : 30px;
   line-height : 30px;
   margin-bottom : 10px;
}

#modal a:hover, #modal .close-area:hover, .content li:hover{
   color: gray;
}








