@charset "UTF-8";

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-w-14 {
    width: 0.875em;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}


.menu-toggle {
    position: fixed;
    right: 30px;
    top: 15px;
    width: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 50px;
    z-index: 999;
}


#sidebar-wrapper {
  position: fixed;
  z-index: 100;
  right: -10px;
  width: 250px;
  height: 100%;
  transition: all 0.4s ease 0s;
  transform: translateX(250px); 
  background-color: rgba(16, 99, 176);
  /* background-color: #FFD11F;  */

  border-left: 1px solid rgba(255, 255, 255, 0.1);

}


.sidebar-nav {
	
    /* position: absolute;
    top: 0; */
    
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  
    height: 100%;
  }
  
 .welcome p{

	margin-left : 20px;

 }
  
.welcome li{

    width: 150px;
    height : 30px;
	line-height : 28px;
    
    border-radius : 10px;
    border : none;
    
    color: #333;
	background: #FFD11F;
	
	margin-left : 15px;

}
  
  
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
  
.welcome li a{
	display: block;
	text-align: center;
	cursor: pointer;
}

.welcome li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}

.welcome li #logout:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}


.sidebar-nav li.sidebar-nav-item a {
	display: block;
	text-decoration: none;
	/* color: #fff; */
	color: #222;
	padding: 15px;
}

.sidebar-nav li.sidebar-nav-item a:hover{
	background: rgba(52, 58, 64, 0.1);
	color: #fff;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
	font-size: 1.2rem;
	background: rgba(52, 58, 64, 0.1);
	line-height: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;

}

.sidebar-nav > .sidebar-brand a {
	display : inline-block;
	color: #fff;
	text-decoration: none;
	width: 100%;

}

.sidebar-nav > .sidebar-brand a:hover {
	color: #333;
	background: none;
}

#sidebar-wrapper.active {
	right: 250px;
	width: 250px;
	transition: all 0.4s ease 0s;
}

.member{
	margin : 10px 0;
}

.welcome p{
	margin: 1rem 10px;
    color: white;
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
}

.rounded {
	border-radius: 0.25rem !important;
}


  
 .nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #1D809F;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-link:hover, .nav-link:focus {
  color: #17667f;
}
.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
} */

/* .nav-tabs {
  border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: none;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
  isolation: isolate;
}
.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills .nav-link {
  background: none;
  border: 0;
  border-radius: 0.25rem;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1D809F;
}

.nav-fill > .nav-link,
.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-justified > .nav-link,
.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 100%;
}

.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.navbar-nav .dropdown-menu {
  position: static;
}

.navbar-text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .navbar-toggler {
    transition: none;
  }
}
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.navbar-nav-scroll {
  max-height: var(--bs-scroll-height, 75vh);
  overflow-y: auto;
}
 */

















