@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
  	font-family: 'Gowun Dodum', sans-serif;
  	font-family: /*'Montserrat',*/'Noto Sans KR','Malgun Gothic', dotum;
    font-size: 20px;
    line-height: 20px;
    color: #333;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    color:#333;
}

img{
    vertical-align: top;
    border: 0;
}

body{
	margin : 50px 0;
}


.wrap{
    width : 1200px;
    height : 1300px;
    
    overflow-y : scroll;
    overflow-x : hidden;
    
    margin : 0 auto;
    padding : 40px;
    box-sizing : border-box;
    
    border : 1px solid #555;
	border-radius : 10px;
}

.wrap::-webkit-scrollbar{
    width : 20px;
}

.wrap::-webkit-scrollbar-thumb{
    background-color :#ffc107; 
	border-radius : 10px;
}

.wrap::-webkit-scrollbar-track{
    

}

.prev{
	
	width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    cursor: pointer;
    border: 0px;
    border-radius: 0.25rem;
	background-color: rgba(255, 193, 7,0.7);
}

.prev a{
	display : inline-block;
	
	width: 100%;
    height: 100%;
    
    border-radius: 0.25rem;
	
}

.prev a:hover{
	
    background-color: #ffc107;
	
}

h2{

    text-align : center;
    margin : 20px 0 50px 0;
}

.mainTitle{
	font-size : 50px;
}

.section_1{
    width : 100%;
    /* height : 400px; */
    margin-bottom: 60px;
    
}

.section_1 .area_title{
    width : 100%;
    margin-bottom: 20px;

}

.section_1 .area_title .title{
    width : 100%;
    height: 45px;

    padding: 5px 10px;
    box-sizing: border-box;

    
}

.myInfo{
    display: flex;
    font-size: 23px;

    
}


.myPhoto{
    width : 250px;
    height : 300px;
    margin-right: 25px;;
    background-color: rgb(185, 185, 153);
    
    position : relative;

}

.myPic{
    width : 100%;
    height : 100%;

    position: relative;

}

.myPic .img{
    width : 100%;
    height : 100%;

}

/* .myPic input{
    position : absolute;
    top: 135px;
    left: 5px;

} */

#uploadResult{
	
	position : absolute;
	top : 0;
	left : 0;
	
}


#uploadResult ul{
	
}

#uploadResult li{
	position: relative;
}

#uploadResult li .btn{
	position:absolute;
	top:0;
	left:0;
	
	width: 20px;
	height: 20px;
	background-color: #ffc107;
	border: none;

	
}

#uploadResult li img{
	width : 250px;
	height : 300px;



}


.btn span{
	width: 30px;
	height: 30px;
	color: #fff;
}

/*==============================================*/

.my_data{

    
}

.my_data ul{
    display: block;

}

.mydata_1, .mydata_2, .mydata_3{
    

}


.mydata_1 li, .mydata_2 li, .mydata_3 li{
    display: flex;
    margin-bottom: 15px;
    height: 35px;

}


.mydata_1 li span, .mydata_2 li span{
    display: block;
    width : 100px;
    margin-right : 5px;
    font-size: 20px;
    line-height: 35px;

}

.mydata_1 li input, .mydata_2 li input{

    width : 250px;
    font-size: 20px;


}

.mydata_1 .gender input{

    width : 50px;
    margin-top: 5px;

}

.mydata_3 li span{
    display: block;
    width : 250px;
    margin-right : 5px;
    font-size: 20px;
    line-height: 35px;

}

.mydata_3 li select{

    width : 200px;
    margin-right : 10px;
    font-size: 20px;


}

.mydata_3 li input{
    width : 300px;
    font-size: 20px;


}



/*secsion_2 ============================================ */

.section_2{
    margin-bottom: 80px;
    border: 1px solid #333;
    padding : 20px;
    box-sizing: border-box;
}

.section_2 .area_title{
    height: 30px;
    margin-bottom: 20px;
}

.section_2 .area_title .title{
    width : 100%;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}

.part_table{
    width: 99%;
    /* border: 1px solid #333; */
}

.part_table thead tr{
    height : 50px;
}

.part_table tbody tr:hover{
    /* background-color : rgba(0,0,0,0.075); */
}

.part_table td{
    height : 50px;
    text-align: center;
}

.inpart_view{
 	width: 100%;
    margin-bottom : 40px;
}

.inpart_view td input{
	padding: 3px 10px;
}

.inpart_view td #school_type{
	padding: 4px 8px;
}

.inpart_view td #license_type{
	padding: 4px 8px;
}

.inpart_view td #pass{
	padding: 4px 8px;
}

.score{
	width: 80px;
}

/* .license{
	width: 180px;
} */

.part_table tbody .delete_license{
    display:none;
    background-color: #ffc107;
    width : 50px;
    height : 50px;
    line-height : 30px;
    text-align : center;
}


.part_table tbody tr:hover .delete_license{
    display : block;
}


.part_table tbody tr:hover .delete_license{
    display : block;
}

.part_table .delete_license{
    width: 50px;
    height: 50px;
    text-align: center;

    font-size: 18px;
    cursor: pointer;
    border: 1px solid #ffc107;
    padding: 0.375rem 0.75rem;
    box-sizing: border-box;
    border-radius: 0.25rem;
}

.addBtn{
	width : 100%;
	text-align : right;
}

.part_table .addBtn .addTable{
	
	width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    cursor: pointer;
    border: 0px;
    box-sizing: border-box;
    border-radius: 0.25rem;
    
    background-color: rgba(255, 193, 7,0.7);

	
}

.addBtn .addTable:hover{
	background-color: #ffc107;

}

/* .part_table .my_letter_view{
    
} */

.part_table .my_letter_view .intit{
    display: block;
    width: 100%;
    height: 25px;
    font-size: 20px;

    margin-bottom: 10px;
    padding: 10px 0 10px 10px;
    
}

.part_table .my_letter_view .intxt{
    display: block;
    width: 100%;
    height: 300px;
    font-size: 20px;
    padding: 10px 0 10px 10px;

    
}



/*============================================ */

.submitBtn{
	
	width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    cursor: pointer;
    border: 0px;
    padding: 0.375rem 0.75rem;
    box-sizing: border-box;
    border-radius: 0.25rem;
    background-color: rgba(255, 193, 7,0.7);
	
}

.submitBtn:hover{

    background-color: #ffc107;
	
}